
output-build/
custom-disk/
custom-root/
source-disk/
*.img
*.iso
*.md5
*.img.zip
*.img.gz
*.iso.gz
*.tar.gz
buildroot/rootfs/etc/os-release
buildroot/rootfs/etc/rauc/cert.pem
buildroot/rootfs/etc/setup.yaml
*.log
cfg*
git-credentials
builds
builds/*
*.pem
*.ext4
!reagent/