[Unit]
Description=Check for ReswarmOS updates
Requires=reswarmos-update-check.service

[Timer]
Unit=reswarmos-update-check.service
#OnCalendar=Year-Month-Day Hour:Minute:Second
OnCalendar=*-*-* *:00/30:00
Persistent=True

[Install]
WantedBy=timers.target

