[Unit]
Description=IronFlock mode configuration
# Before=rehost.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/reswarm.sh
RemainAfterExit=no

[Install]
#WantedBy=sysinit.target
#WantedBy=multi-user.target
RequiredBy=rehost.service rewifi.service redocker.service reagent.service
