[Unit]
Description=User setup
After=reswarm.service
# Before=rewifi.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/reuser-setup.sh /opt/reagent/device-config.ini
# Restart=on-failure
# RestartSec=5s
RemainAfterExit=no

[Install]
#WantedBy=sysinit.target
WantedBy=multi-user.target
