[Unit]
Description=Host configuration
After=reswarm.service
# Before=rewifi.service

[Service]
Type=oneshot
ExecStart=/opt/reagent/reswarmify/scripts/reconfigure.sh /opt/reagent/device-config.ini
# Restart=on-failure
# RestartSec=5s
RemainAfterExit=no

[Install]
#WantedBy=sysinit.target
WantedBy=multi-user.target
