[Unit]
Description=Reswarm mode configuration
# Before=rehost.service

[Service]
Type=oneshot
ExecStart=/opt/reagent/reswarmify/scripts/reswarm.sh
RemainAfterExit=no

[Install]
#WantedBy=sysinit.target
#WantedBy=multi-user.target
RequiredBy=rehost.service rewifi.service reagent.service
