[Unit]
Description=Host configuration
After=rootfs-repart.service
Before=wifi-setup.service

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/reparse.sh
ExecStart=/usr/sbin/reconfigure.sh /boot/device.ini
Restart=on-failure
RestartSec=5s
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
