[Unit]
Description=Reagent manager

[Service]
ExecStart=
#/usr/sbin/reagent-manager.sh
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
