[Unit]
Description=Reagent manager
After=reagent.service

[Service]
ExecStart=/usr/sbin/reagent-manager.sh
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
