[Unit]
Description=Reagent
ConditionPathExists=/opt/reagent/reswarm-mode
Wants=network-online.target
After=reagent-manager.service
# Before=

[Service]
Type=simple
# ExecStartPre=/usr/sbin/reagent-setup.sh
ExecStart=/opt/reagent/Reagent-active -config /opt/reagent/device-config.reswarm -debug
ExecStartPost=/usr/sbin/reagent-tc.sh
# ExecStop=
# ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" = 2 ]; then rm /file/to/delete; fi'
# RestartSec=30
Restart=no
# Restart=always
# RemainAfterExit=no
# CPUAccounting=1
# MemoryAccounting=1
# BlockIOAccounting=1
# IPAccounting=true

[Install]
WantedBy=multi-user.target
