[Unit]
Description=Reagent manager
ConditionPathExists=/opt/reagent/reswarm-mode
After=redocker.service

[Service]
ExecStart=/usr/sbin/reagent-manager.sh
RestartSec=120
Restart=always

[Install]
WantedBy=multi-user.target
