[Unit]
Description=Host configuration
After=reswarm.service
# Before=rewifi.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/reconfigure.sh /boot/device.ini
# Restart=on-failure
# RestartSec=5s
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
