[Unit]
Description=Resize partition and root filesystem
DefaultDependencies=no
# Before=default.target
# Before=shutdown.target
# ConditionFirstBoot=yes  # don't use it => breaks system initialization!

[Service]
#User=root
Type=oneshot
ExecStart=/usr/sbin/rootfs-repart.sh
RemainAfterExit=no
ExecStartPost=/usr/bin/systemctl disable repart.service
ExecStartPost=/usr/sbin/reboot

[Install]
WantedBy=sysinit.target
