[Unit]
Description=Manage ReswarmOS updates
Requires=reswarmos-update.service

[Timer]
Unit=reswarmos-update.service
#OnUnitActiveSec=1h 0min 0sec
#OnCalender=Year-Month-Day Hour:Minute:Second
OnCalender=*-*-* 4:00:00

[Install]
WantedBy=timers.target
