[Unit]
Description=Reswarm mode configuration
After=repart.service mnt-wibble.mount
# Before=rehost.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/reswarm.sh
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
