
[Unit]
Description=Manage ReswarmOS updates
Wants=reswarmos-update.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/reswarmos-check-update.sh

[Install]
WantedBy=multi-user.target

