[Unit]
Description=Check for ReswarmOS updates
Requires=reupdate.service

[Timer]
Unit=reupdate.service
OnUnitActiveSec=1h 0min 0sec

[Install]
WantedBy=timers.target
