[Unit]
Description=WiFi configuration
After=reswarm.service 
Requires=NetworkManager.service

[Service]
Type=oneshot
# ExecStartPre=
ExecStart=/usr/sbin/rewifi.sh /boot/device.ini
# Restart=on-failure
# RestartSec=5s
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
