[Unit]
Description=WiFi configuration
After=systemd-timesyncd.service rehost.service
Before=network-online.target redocker.service

[Service]
Type=oneshot
# ExecStartPre=
ExecStart=/usr/sbin/reconn.sh /boot/device.ini
# Restart=on-failure
# RestartSec=5s
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
