#
# for reference, see:
# - https://github.com/sbabic/libubootenv
# - https://www.denx.de/wiki/DULG/HowCanIAccessUBootEnvironmentVariablesInLinux
# - https://elinux.org/U-boot_environment_variables_in_linux
# - https://openwrt.org/docs/techref/bootloader/uboot.config
# - https://github.com/intel/edison-u-boot/blob/master/tools/env/fw_env.config
# - https://github.com/ARM-software/u-boot/blob/master/tools/env/fw_env.config
# - https://labs.isee.biz/index.php/How_to_modify_the_uboot_environment_from_userspace
# - https://www.denx.de/wiki/view/DULG/WarningBadCRCUsingDefaultEnvironment
# - https://www.emcraft.com/imxrt1050-evk-board/managing-uboot-env-from-linux
#
# (MTD) device name	device offset	environment size	flash sector size	number of sectors
#/boot/boot.scr.uimg	0x0000          0x4000
#/dev/mmcblk0p1		0x00000 	0x100000
#/dev/mmcblk0		0x400000	0x1000
#/dev/mmcblk0		0xc0000		0x20000
/boot/uboot.env         0x0000		0x4000
#/dev/mmcblk0 		0x4000 		0x4000
#/dev/mmcblk0 		0x8000 		0x4000

